/**
* STYLE.CSS: Basic stylesheet for newsgrid project
* Used for all screen sizes
*/

/*BASE STYLES*/
:root{
    --primary-color: #C72727;
    --secondary-color: #F99500;
    --light-color: #F3F3F3;
    --dark-color: #333;
    --max-width: 1100px;
}

.category{
    --category-sports: #F99500;
    --category-ent: #A66BBE;
    --category-tech: #009CFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--light-color);
    line-height: 1.5;
    font-family: Lato, Arial, sans-serif;
}

p{
    margin-bottom: 0.75rem;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

ul{
    list-style: none;
}
img{
    width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: Staatliches, cursive;
    margin-bottom: 0.55rem;
    line-height: 1.3;
    letter-spacing: .15rem;
    word-spacing: .30rem;
}

/*Scrollbars*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 10px;
}
/*UTILITY CLASSES*/
.container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}
.category{
    display: inline-block;
    color: #FFF;
    font-size: .55rem;
    text-transform: uppercase;
    padding: .4rem .6rem;
    border-radius: 15px;
    margin-bottom: .5rem;
}
.category-sports{ background: var(--category-sports);}
.category-ent{ background: var(--category-ent);}
.category-tech{ background: var(--category-tech);}

.btn{
    display: inline-block;
    border: none;
    background: var(--dark-color);
    color: #FFF;
    padding: .5rem 1.5rem;
}
.btn-primary{ background: var(--primary-color);}
.btn-secondary{ background: var(--secondary-color);}
.btn-light{ 
    background: var(--light-color);
    color: var(--dark-color);
}

.btn:hover{
    opacity: 0.9;
    transition: opacity .3s;
}
.btn-block{
    display: block;
    text-align: center;
}
.card{
    background: #FFF;
    padding: 1rem;
}
.bg-dark{
    background: var(--dark-color);
    color: #FFF;
}
.bg-primary{
    background: var(--primary-color);
    color: #FFF;
}
.bg-secondary{
    background: var(--secondary-color);
    color: #FFF;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a{
    color: #FFF;
}    

.py-1{ padding: 1.5rem 0; }
.py-2{ padding: 2rem 0; }
.py-3{ padding: 3rem 0; }

.py-1{ padding: 1.5rem; }
.py-2{ padding: 2rem; }
.py-3{ padding: 3rem; }

.l-heading{ font-size: 3rem;}
.m-heading{ font-size: 2.2rem;}

.list li{
    padding: 0.5rem;
    border-bottom: dotted 1px #444;
}
.list li a:hover{
    color: var(--primary-color);
}
/*navbar*/

#navbar{
    background: #FFF;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

#navbar .container{
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#navbar .logo{
    width: 180px;
}

#navbar ul{
    display: flex;
    justify-self: end;
}

#navbar ul li a{
    padding: .7rem;
    font-weight: bold;
}

#navbar ul li a.current{
    background: var(--primary-color);
    color: #FFF;
}

#navbar ul li a:hover{
    background: var(--light-color);
    color: var(--dark-color);
    transition: all .2s;
}

#navbar .social{
    justify-self: center;
}

#navbar .social i{
    color: #777;
    margin-right: .5rem;
}

/*#showcase*/
#showcase{
    color: #fff;
    background: var(--dark-color);
    padding: 2rem;
    position: relative;
}
#showcase:before{
    content: '';
    background: url('../../images/featured.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#showcase .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

#showcase .showcase-content{
    z-index: 1;
}

#showcase .showcase-content p{
    margin-bottom: 1rem;
}

/*HOME ARTICLES*/
#home-articles .articles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#home-articles .articles-container .card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-column: 1/span 2;
    align-items: center;
}
#home-articles .articles-container .card-grid:last-child{
    grid-column: 2/span 2;
}

/*FOOTER*/
#main-footer img{
    width: 160px;
}

#main-footer .footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container>*:last-child{
    background: #444;
    grid-column: 1/span 4;
    padding: .5rem;
    text-align: center;
    font-size: .75rem;
}

#main-footer .footer-container>*:last-child p{
    margin-bottom: 0;
}

#main-footer .footer-container input[type="email"]{
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
}
#main-footer .footer-container input[type="submit"]{
    width: 100%;
}
#main-footer .footer-container input[type="submit"]:hover{
    cursor: pointer;
}

/*About Page*/
.page-content{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1.5rem;
    margin: 2rem 0;
}
.page-content>*:first-child{
    grid-row: 1/span 3;
}

/*ARTICLE*/

.meta{
    background: #EEE;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.meta .category{
    margin-bottom: 0;
}
























