#navbar .social{
    display: none;
}

#navbar .container{
    grid-template-columns: 1fr 1fr;
}

#home-articles .articles-container{
    grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container .card-grid{
    grid-template-columns: 1fr;
    grid-column: 1;
}
#home-articles .articles-container .card-grid:last-child{
    grid-column: 1;
}

@media(max-width: 600px){
    #showcase .container,
    #home-articles .articles-container,
    #main-footer .footer-container{
        grid-template-columns: 1fr;
    }
    #main-footer .footer-container>*:last-child{
        grid-column: 1;
    }
    #main-footer .footer-container>*:first-child,
    #main-footer .footer-container>*:nth-child(2){
        border-bottom: dotted 1px #444;
        padding-bottom: 1rem;
    }
    .page-content{
        grid-template-columns: 1fr;
        text-align: center;
    }
}



























